
*{
    text-decoration: none;
    list-style: none;
}
#ti{
    margin-left: 70px;
    margin-top: 20px;
}
.bee{
    display: flex;

}
.tu{
    width:80px;
    height:75px;
}
.c{
    padding-top: 28px;
    color:red;
    font-size: 23px;
}
.ip{
    border-radius: 20px;
    background-color: orangered;
    margin-bottom: 70px;
    color:white;
    margin-left: 30px;
    
}
.be{
    display: flex;
    padding-top: 20px;
    padding-left: 180px;
    color:black;
}
.to:hover{
    background:red;
    font-size: 2px;
    transition-timing-function: ease-in;
    transition: 4s ;

}
.to{
    padding-right: 20px;
   color: black;
}.tok{
    margin-top: 38px;
    color:white;
    background-color:orangered ;
    border-radius: 20px;
    margin-left: 320px;
    border:white;
    
}
.book{
    background-color:seagreen;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


  .te{
      background-color: whitesmoke;

  }
  .op{
    animation-name: s;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: backwards;
    animation-direction: reverse;


  }
      
@keyframes s {
    0%{ width:0% ; height:100%; opacity:10 0%;}
    50%{width:50% ;  height:50%; opacity: 50%;}
    100%{width:100% ;  height:00%; opacity:100%;}

    
}
.ok{
    
    animation-name: j;
    animation-duration: 6s;
    animation-delay: 6s;
    animation-timing-function: 4s;
    animation-iteration-count: 5;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: reverse;


  }
      
@keyframes j {
    0%{ width:00% ; height:100%; opacity:0%;}
    50%{width:50% ;  height:50%; opacity: 50%;}
    100%{width:100% ;  height:00%; opacity:100%;}

    

}
  
    
    


.too{
    display:grid;
    grid-template-columns: 85% 15%;


    
}
   
.boo
{
    margin-bottom: 30px;
    margin-right: 90px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;

    animation-name: see;
    animation-duration: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite;



    
}
@keyframes see {
    0%{opacity:0%; height:0%;}
    50%{opacity:50%; height:50%}

    to{opacity:100%; height:100%}


    
}
#ti{
    float: right;
    animation-name: push;
    animation-duration: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite;
     

}
.ip{
    margin-left: 99px;
    margin-bottom: 50px;
    float: left;
    
}

@keyframes push {
    0%{opacity:0%; height:0%;}
    50%{opacity:50%; height:50%}

    to{opacity:100%; height:100%}


    
}
.sk{
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: pus;
    animation-duration: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}
@keyframes pus {
    0%{width: 0%; height: 50%;}
    50%{width: 50%; height: 50%;}
    100%{width: 100%; height: 100%;}
    
}
.st{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 20px;
    animation-name: pu;
    animation-duration: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite;

    
}
@keyframes pu {
    0%{ width:0% ; height:100%; opacity: 0%;}
    50%{width:50% ;  height:50%; opacity: 50%;}
    100%{width:100% ;  height:00%; opacity:100%;}
    
}
.je{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fg{
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.rr{
    
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: puu;
    animation-duration: 4s;
    animation-timing-function: 4s;
    animation-iteration-count: infinite
    ;
    animation-play-state: running;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    


}

@keyframes puu {
    0%{ width:0% ; height:100%; opacity: 0%;}
    50%{width:50% ;  height:50%; opacity: 50%;}
    100%{width:100% ;  height:00%; opacity:100%;}
    
}

.df{
    background-color: gray;
}
.t{
    display: grid;
    grid-template-columns: auto  auto auto;
}

.footer{
    
    width:70%;
    padding: 100px 15%;
    background: #333;
    color:whitesmoke;
    display: flex;

}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;

}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;





}
.col-1 a{
    display: block;
    text-decoration: none;
    color:#efefefef


}
form input{
    width:400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border:none
}
form button{
    background: transparent;
    border:solid 2px rgb(143, 143, 143);
    padding: 10px 30px;
    font-size: 14px;
    cursor:pointer;
}
.social-icons{
    margin-top: 30px;

}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}